# Node artifact files
node_modules/
migration/database.json
dist/
typings/
.env
.npmrc

# Log files
*.log

# JetBrains IDE
.idea/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

